<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TNTdevs</title>
    <link rel="stylesheet" href="css/Usuario.css">
    <nav >
        <button class=button >Productos</button>
        <button class=button >Ventas</button>
        <button class=button >Usuarios</button>
    </nav>
</head>
<body>
    <table>
        <caption><center><h1>Listado de usuarios</h1></center></caption> 
        
        <tr>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>ROL</th>
        <th>ESTADO</th>
        <th>ACCIÓN</th>
        </tr>

        <tr>
        <td>001</td>
        <td>Laura</td>
        <td>
            <select name="menu1">
            <option>---</option>
            <option>Administrador</option>
            <option>Vendedor</option>
            </select>
        </td>
        <td>
            <select name="menu">
            <option>---</option>
            <option>Autorizado</option>
            <option>Pendiente</option>
            <option>No Autorizado</option>
            </select>
        </td>
        <td><button>Actualizar</button></td>
        </tr>
        <tr>
        <td>002</td>
        <td>Alejandro</td>
        <td>
            <select name="menu1">
            <option>---</option>
            <option>Administrador</option>
            <option>Vendedor</option>
            </select>
        </td>
        <td>
            <select name="menu">
            <option>---</option>
            <option>Autorizado</option>
            <option>Pendiente</option>
            <option>No Autorizado</option>
            </select>
        </td>
        <td><button>Actualizar</button></td>
        </tr>
        <tr>
        <td>003</td>
        <td>Marco</td>
        <td>
            <select name="menu1">
            <option>---</option>
            <option>Administrador</option>
            <option>Vendedor</option>
            </select>
        </td>
        <td>
            <select name="menu">
            <option>---</option>
            <option>Autorizado</option>
            <option>Pendiente</option>
            <option>No Autorizado</option>
            </select>
        </td>
        <td><button>Actualizar</button></td>
        </tr>
        <tr>
        <td>004</td>
        <td>Sebastian</td>
        <td>
            <select name="menu1">
            <option>---</option>
            <option>Administrador</option>
            <option>Vendedor</option>
            </select>
        </td>
        <td>
            <select name="menu">
            <option>---</option>
            <option>Autorizado</option>
            <option>Pendiente</option>
            <option>No Autorizado</option>
            </select>
        </td>
        <td><button>Actualizar</button></td>
        </tr>
        <tr>
        <td>005</td>
        <td>Carolina</td>
        <td>
            <select name="menu1">
            <option>---</option>
            <option>Administrador</option>
            <option>Vendedor</option>
            </select>
        </td>
        <td>
            <select name="menu">
            <option>---</option>
            <option>Autorizado</option>
            <option>Pendiente</option>
            <option>No Autorizado</option>
            </select>
        </td>
        <td><button>Actualizar</button></td>
        </tr>
    </table>

        
        
            
    <script src="js/header.js"></script>
</body>
</html>