<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="Home.css">
</head>
<body>
    <main>
        <div id="encabezado">
            <img width=60 px src="img/logo.png" alt="LogoTNTdevs">
            <h4 >Iniciar sesion con:</h4>
            <button>
                <img width=25 px src="img/logo_google.png" alt="LogoGoogle"> <a href="Productos1.html">Gmail</a> </button>
        </div>

        <hr/>

        <div id="cuerpo">
            <center>
                <h1 id="neon">Bienvenidos a TNTdevs</h1>
                <img width=250 px src="img/logo.png" alt="LogoTNTdevs">
            </center>
            <p id="parrafo"> 
                TNTdevs es una aplicación de software que permite realizar el seguimiento de las ventas 
                de un producto y/o servicio en una empresa.
            </p> 
        </div>
    </main>
</body>
</html>
