<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos2</title>
    <link rel="stylesheet" href="Productos2.css">
</head>
<body>
    <header class="header">
        <div class="container logo-nav-container">
            <a class="neon">TNTdevs</a>
            <nav class="navigation">
                <ul>
                    <li><a href="" >Inicio</a></li>
                    <li><a href="">Acerca</a></li>
                    <li><a href="">Productos</a></li>
                    <li><a href="">Ventas</a></li>
                    <li><a href="">Usuarios</a></li>
                    <li class="logOut"><a href="">Log Out</a></li>
                </ul>
             
            </nav>
        </div> 
    </header> 

    <!--INSERTAR LA TABLA DE USUARIOS.HTML Y AGREGAR BOTONES DE REGISTRO Y LISTADO-->
</body>
</html>
