<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos2</title>
    <link rel="stylesheet" href="Productos2.css">
</head>
<body>
    <header class="header">
        <div class="container logo-nav-container">
            <a  href="" class="neon">TNTdevs</a>
            <!-- <nav class="navigation"> -->
                <ul class="desplegable">
                    <li><a href="">Productos</a>
                        <ul class="des2">
                            <li><a href="">Registros</a></li>
                            <li><a href="">Listado</a></li>
                        </ul>
                    </li>

                    <li><a href="">Ventas</a>
                        <ul class="des2">
                            <li><a href="">Registros</a></li>
                            <li><a href="">Listado</a></li>
                        </ul>
                    </li>

                    <li><a href="">Usuarios</a></li>
                    <li class="logOut"><a href="">Log Out</a></li>
                </ul>
             
            <!-- </nav> -->
        </div> 
    </header> 

    

    <table>
        <caption><h2>Listado de productos</h2></caption> 
        
        <tr>
        <th>ID</th>
        <th>Descripción</th>
        <th>Precio Unitario</th>
        <th>Estado</th>
        <th>Acción</th>
        </tr>

        <tr>
        <td>ID product</td>
        <td>Description</td>
        <td>$0.000</td>
        <td>Disponible
        </td>
        <td><button class=buttonEditar>Edit</button><button class=buttonEliminar>Delete</button></td>
        </tr>
        <tr>
        <td>ID product</td>
        <td>Description</td>
        <td>$0.000</td>
        <td>No Disponible
        </td>
        <td><button class=buttonEditar>Edit</button><button class=buttonEliminar>Delete</button></td>
        </tr>
        <tr>
        <td>ID product</td>
        <td>Description</td>
        <td>$0.000</td>
        <td>Disponible
        </td>
        <td><button class=buttonEditar>Edit</button><button class=buttonEliminar>Delete</button></td>
        </tr>
        <tr>
        <td>ID product</td>
        <td>Description</td>
        <td>$0.000</td>
        <td>Disponible
        </td>
        <td><button class=buttonEditar>Edit</button><button class=buttonEliminar>Delete</button></td>
        </tr>
        <tr>
        <td>ID product</td>
        <!--<td><input type="text" placeholder="Description"></td>-->
        <!--<td><input type="text" placeholder="$0.000"></td>-->
        <td>Description</td>
        <td>$0.000</td>
        <td>No Disponible
            <!--<select name="menu">
            <option>---</option>
            <option>Disponible</option>
            <option>No Disponible</option>
            </select>-->
        </td>
        <td><button class=buttonEditar>Edit</button><button class=buttonEliminar>Delete</button></td>
        </tr>
    </table>

        
        
            
    <script src="js/header.js"></script>
</body>
</html>
