<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Producto</title>
    <link rel="stylesheet" href="Productos1.css">
</head>
<body>
    <main>
        <!--<div id="encabezado">
            <img width=70 px src="img/logo.png" alt="LogoTNTdevs">
            <a href="Productos1.html"><h3>Productos</h3></a> 
            <a href="Ventas1.html"><h3>Ventas</h3></a>
            <a href="Usuarios.html"><h3>Usuarios</h3></a>
            <button><a href="Home.html">Cerrar Sesion</a></button>
        </div>-->

        

        <div id="cuerpo">
            <!--<div id="imenu">
                <a href="Productos1.html">Registro</a>
                <a href="Productos2.html">Listado</a>
            </div>
            -->
            
            <div id="regProductos">
                <center>
                    <h2>Registro de Productos</h2>
                </center>
                <form>
                    <label>ID de producto</label>
                    <input type="text" name="ID de producto" id="producto" readonly/>

                    <label>Descripcion</label>
                    <input type="text" name="Descripcion" id="descripcion"/>

                    <label>Valor Unitario</label>
                    <input type="text" name="unitvalue" id="unitvalue"/>

                    <label>Estado</label>
                    <select name="Estado" id="estado">
                        <option value="1">Disponible</option>
                        <option value="0">No disponible</option>
                    </select>
                </form>
                <button id="registrar">Registrar</button>
            </div>
        </div>
    </main>
</body>
</html>
