<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" href="Usuarios.css">
</head>
<body>
    

    <table>
        <caption><h2>Listado de usuarios</h2></caption> 
        
        <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Rol</th>
        <th>Estado</th>
        <th>Acción</th>
        </tr>

        <tr>
        <td>ID User</td>
        <td>Name</td>
        <td>
            <select name="menu1">
            <option>---</option>
            <option>Administrador</option>
            <option>Vendedor</option>
            </select>
        </td>
        <td>
            <select name="menu">
            <option>---</option>
            <option>Autorizado</option>
            <option>Pendiente</option>
            <option>No Autorizado</option>
            </select>
        </td>
        <td><button class=button1>Actualizar</button></td>
        </tr>
        <tr>
        <td>ID User</td>
        <td>Name</td>
        <td>
            <select name="menu1">
            <option>---</option>
            <option>Administrador</option>
            <option>Vendedor</option>
            </select>
        </td>
        <td>
            <select name="menu">
            <option>---</option>
            <option>Autorizado</option>
            <option>Pendiente</option>
            <option>No Autorizado</option>
            </select>
        </td>
        <td><button class=button1>Actualizar</button></td>
        </tr>
        <tr>
        <td>ID User</td>
        <td>Name</td>
        <td>
            <select name="menu1">
            <option>---</option>
            <option>Administrador</option>
            <option>Vendedor</option>
            </select>
        </td>
        <td>
            <select name="menu">
            <option>---</option>
            <option>Autorizado</option>
            <option>Pendiente</option>
            <option>No Autorizado</option>
            </select>
        </td>
        <td><button class=button1>Actualizar</button></td>
        </tr>
        <tr>
        <td>ID User</td>
        <td>Name</td>
        <td>
            <select name="menu1">
            <option>---</option>
            <option>Administrador</option>
            <option>Vendedor</option>
            </select>
        </td>
        <td>
            <select name="menu">
            <option>---</option>
            <option>Autorizado</option>
            <option>Pendiente</option>
            <option>No Autorizado</option>
            </select>
        </td>
        <td><button class=button1>Actualizar</button></td>
        </tr>
        <tr>
        <td>ID User</td>
        <td>Name</td>
        <td>
            <select name="menu1">
            <option>---</option>
            <option>Administrador</option>
            <option>Vendedor</option>
            </select>
        </td>
        <td>
            <select name="menu">
            <option>---</option>
            <option>Autorizado</option>
            <option>Pendiente</option>
            <option>No Autorizado</option>
            </select>
        </td>
        <td><button class=button1>Actualizar </button>  </td>
        </tr>
    </table>

        
        
            
    <script src="js/header.js"></script>
</body>
</html>
