body {
    font-family: 'Century Gothic', cursive;
    background: #F2994A;
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#F2C94C), to(#F2994A));
    background: linear-gradient(to right, #F2C94C, #F2994A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

main #encabezado {
    padding: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr 1fr 1fr 4fr;
        grid-template-columns: 2fr 1fr 1fr 1fr 4fr;
    grid-gap: 20px;
  }
  
  main #encabezado a {
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
  }
  
  main #encabezado button {
    font-family: 'Century Gothic', cursive;
    width: 120px;
    margin-left: auto;
    margin-right: 1px;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    border-color: #F2C94C;
    border-radius: 15px;
  }

  table, th, td {
    align-items: center;
    margin: auto;
    border: 1px solid;
    padding: 15px;
    border-color:  black;
}
