body {
    font-family: 'Century Gothic', cursive;
    background: white;
  }

main #encabezado {
    padding: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr 1fr 1fr 4fr;
        grid-template-columns: 2fr 1fr 1fr 1fr 4fr;
    grid-gap: 20px;
  }
  
  main #encabezado a {
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
  }
  
  main #encabezado button {
    font-family: 'Century Gothic', cursive;
    width: 120px;
    margin-left: auto;
    margin-right: 1px;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    border-color: #F2C94C;
    border-radius: 15px;
  }

  table, th, td {
    align-items: center;
    margin: auto;
    border: 1px solid;
    padding: 15px;
    border-color:  black;
}
