<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Ventas</title>
    <link rel="stylesheet" href="Ventas2.css">
</head>
<body>
    <main>
    <div id="encabezado">
        <img width=70 px src="img/logo.png" alt="LogoTNTdevs">
        <a href="Productos1.html"><h3>Productos</h3></a> 
        <a href="Ventas1.html"><h3>Ventas</h3></a>
        <a href="Usuarios.html"><h3>Usuarios</h3></a>
        <button><a href="Home.html">Cerrar Sesion</a></button>
    </div>
    <hr/>

        <div id="cuerpo">
            <div id="imenu">
                <a href="Productos1.html">Registro</a>
                <a href="Productos2.html">Listado</a>
            </div>

            <div id="regProductos">
                <center>
                    <h2>Listado de Ventas</h2>
                </center>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Cliente</th>
                        <th>Responsable</th>
                        <th>Fecha</th>
                        <th>Total Venta</th>
                        <th>Estado</th>
                        <th>Accion</th>

                    </tr>
                    <tr>
                        <td>2547</td>
                        <td>Pedro Pablo</td>
                        <td>Juan Manuel</td>
                        <td>25/10/2021</td>
                        <td>$1'000.000</td>
                        <td>En progreso</td>
                        <td>Borrar</td>
                    </tr>
                    <tr>
                        <td>2547</td>
                        <td>Pedro Pablo</td>
                        <td>Juan Manuel</td>
                        <td>25/10/2021</td>
                        <td>$1'000.000</td>
                        <td>En progreso</td>
                        <td>Borrar</td>
                    </tr>
                    <tr>
                        <td>2547</td>
                        <td>Pedro Pablo</td>
                        <td>Juan Manuel</td>
                        <td>25/10/2021</td>
                        <td>$1'000.000</td>
                        <td>En progreso</td>
                        <td>Borrar</td>
                    </tr>
                    <tr>
                        <td>2547</td>
                        <td>Pedro Pablo</td>
                        <td>Juan Manuel</td>
                        <td>25/10/2021</td>
                        <td>$1'000.000</td>
                        <td>En progreso</td>
                        <td>Borrar</td>
                    </tr>
            
                </table>
            </div>
        </div>
    </main>
</body>
</html>
