<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas1</title>
    <link rel="stylesheet" href="Ventas1.css">
    <link rel="stylesheet" href="header.css">
</head>
<body>
    <center>
        <h2>Registro de Ventas</h2>
    </center>
    <div id="cuerpo">
        <div id="cabeza">
            <label>Cliente</label>
            <input type="text" name="Nombre de Cliente" id="cliente"/>
            <label>Responsable</label>
            <input type="text" name="Responsable" id="responsable" readonly/>
            <label>Fecha</label>
            <input type="date" name="Fecha" id="fecha" readonly/>
            <label>ID Cliente</label>
            <input type="text" name="ID de Cliente" id="idcliente"/>
            <label>ID de Venta</label>
            <input type="text" name="ID de Venta" id="idventa"/>
        </div>
        <hr/>
        <table>
            <tr>
                <th>ID de Producto</th>
                <th>Descripcion</th>
                <th>Cantidad</th>
                <th>Precio unitario</th>
                <th>Precio Total</th>
            </tr>
            <tr>
                <td><input type="text" name="ID de producto" id="idproducto"></td>
                <td><input type="text" name="Descripcion" id="descripcion" readonly></td>
                <td><input type="text" name="Cantidad" id="cantidad"></td>
                <td><input type="text" name="Precio Unitario" id="unitvalue" readonly></td>
                <td><input type="text" name="Precio Total" id="totalprice" readonly></td>
                <td><button>+</button></td>
                <td><button>-</button></td>
            </tr>
        </table>
        <div id="pie">
            <label>Estado</label>
            <select name="Estado" id="estado">
                <option value="0">En Progreso</option>
                <option value="1">Entregada</option>
                <option value="2">Cancelada</option>
            </select>
            <label id="pt">Total</label> 
            <td><input type="text" name="Precio Total venta" id="vtotalprice" readonly></td>
        </div>
        <hr/>
        <button id="guardar">Guardar</button>
    </div>
</body>
</html>

